
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color:#999;
}
body{
    color:#999;
    font-size: 12px;
    background-color: #f0f3ef;
}
.shortcut{
    width: 100%;
    background-color: #e3e4e5;
    
}
.shortcut .w{
    width: 1190px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    /* border:1px solid black;  */
    position: relative;
    z-index: 1;
}
.nav {
    float: right;
}
.nav li{
    float: left;
    padding: 0 7px;
}
.slider{
    float: left;
    width: 1px;
    height: 10px;
    background-color: #999;
    margin: 11px 5px 0;
}
.register{
    color: red;
}

.header{
    width: 1190px;
    margin: 0 auto;
    position: relative;
}
.header .logo{
    width: 190px;
    height: 170px;
    position: absolute;
    top: -30px;
}
.header .logo img{
    height: 100%;
    width: 100%;
}
.header .w{
    padding-left: 200px;
    /* border: 1px solid #000; */
    height: 140px;
}
.header .search{
    width: 990px;
    height: 60px;
    /* border: 1px solid red; */
    padding-left: 70px;
    position: relative;
}
.header .search .search-box{
    width: 550px;
    height: 35px;
    font-size: 0;
    position: absolute;
    bottom: 0;
}
.header .search #search-word{
    width: 500px;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    border: none;
    outline: none;
}
.header .search .search-btn{
    width: 50px;
    height: 35px;
    background-color: #f10215;
    color: #fff;
    border: none;
    outline: none;
}
.hotwords{
    font-size: 12px;
}
.settleup{
    width: 188px;
    height: 33px;
    background-color: #fff;
    line-height: 33px;
    text-align: center;
    border: 1px solid #e3e4e5;
    color: #f10214;
    position: absolute;
    right:99px;
    bottom: 0;
}
.settleup a{
    color: #f10214;
    position: relative;
}
.settleup span{
    position: absolute;
    border-radius: 7px;
    background-color: #f10214;
    color: #fff;
    min-width: 12px;
    line-height: 12px;
    padding: 1px;
    font-size: 12px;
    text-align: center;
    right: -18px;
    top: -5px;
}
.hotwords{
    position: absolute;
    top: 40px;
    height: 20px;
}
.hotwords li{
    float: left;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.red a{
    color: red;
}

.navitems{
    position: absolute;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
    line-height: 60px;
    line-height: 40px;
}
.navitems ul {
    float: left;
    font-size: 14px;
}
.navitems ul li{
    float: left;
    margin-left: 25px;
}
.navitems ul li a{
    color: #333;
    font-size: 14px;
}
.navitems .slider{
    float: left;
    color: #ccc;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: -7px;
}

.fs{
    width: 1190px;
    margin: 0 auto;
    height: 480px;
    margin-bottom: 30px;
}
.fs .fs-col{
    float: left;
}
#swiper{
    height: 100%;
}
.fs-col1{
    width: 190px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    position: relative;
}
.fs-col1 #menu-list{
    height: 26px;
    line-height: 26px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 6px 0px;
    color:#636363;
}
.fs-col1 #menu-list li{
    height: 26px;
    line-height: 26px;
    text-align: left;
    padding-left: 10px;
    color:#636363;
}
.fs-col1 #menu-list li a{
    color:#636363;
}
.fs-col1 #menu-list li:hover{
    background-color: rgb(238,238,238);
}
#menu-content{
    position: absolute;
    background-color: #fff;
    width: 998px;
    min-height: 478px;
    left: 190px;
    top: 0;
    z-index: 2;
    border: 1px solid #eee;
    padding: 10px;
    display: none;
}
#menu-content .tabs{
    width: 100%;
    overflow: hidden;
    margin: 10px;
}
#menu-content .tabs li{
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}
#menu-content .item-content dl{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 5px 0;
}
#menu-content .item-content dl dt{
    overflow: hidden;
    float: left;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
}
#menu-content .item-content dl dd{
    float: left;
    margin-left: 20px;
    left: 90px;
    width: 700px;
    display: block;
}
#menu-content .item-content dl dd a{
    padding: 0 10px;
    border-left: 1px solid #eee;
    white-space: nowrap;
    float: left;
    margin: 5px 0; 
}
.fs-col2{
    width: 580px;
    height: 480px;
    background-color: violet;
    margin-right: 10px;
}
.fs-col3{
    width: 190px;
    height: 480px;
    background-color: tomato;
}
.fs .fs-col4{
    width: 190px;
    height: 480px;
    float: right;
    /* background-color: red; */
}
.floors{
    
    width: 1190px;
    height: 275px;
    margin: 0 auto;
}
.floors .floors-col{
    float: left;
    height: 275px;
}
.floors .col1{
    width: 190px;
    background-color: red;
}
.floors .col2{
    width: 800px;
    background-color: pink;
}
.floors .col3{
    width: 200px;
    background-color: yellow;
}

.user{
    background-color: #fff;
    position: relative;
    padding-top: 62px;
}
.user-avatar{
    width: 55px;
    height: 55px;
    margin: -15px auto;
    border: 5px solid #e3e4e5;
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -27.5px;
    top: 0px;
}
.user-avatar a{
    width: 100%;
    height: 100%;
    display: block;
}
.user-avatar a img{
    width: 100%;
    height: 100%;
}
.user-show p{
 overflow: hidden;
 line-height: 20px;
 width: 100%;
 white-space: nowrap;
 text-overflow: ellipsis;
 color: #888;
 text-align: center;
}
.user-profit {
    margin-top: 10px;
    height: 25px;
    font-size: 0;
}
.user-profit-lk {
    display: inline-block;
    margin: 0 12px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.user-profit-lk-plus {
    background: #363634;
    color: #e5d790;
}

.news2 {
    overflow: hidden;
    height: 130px;
    background: #fff;
}
.news2 .news_hd {
    padding: 8px 0 0;
    position: relative;
    line-height: 13px;
    font-size: 0;
}
.news2 .news_list {
    position: relative;
    padding-top: 8px;
    margin: 0 15px;
    height: 88px;
}
.news2 .news_tit {
    display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    color: #1e1e1e;
}
.news2 .news_more {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 12px;
    color: #999;
}
.news2 .news_item {
    line-height: 21px;
    max-width: 160px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
}
.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background-color: #e47f7f;
    margin-right: 6px;
}
.service-entry {
    /* overflow: hidden; */
    padding: 18px 11px 11px;
    background: #fff;
}
.service-entry ul {
    height: 165px;
}
.service-item {
    position: relative;
    float: left;
    width: 42px;
    height: 55px;
    background: #fff;
    text-align: center;
    font-size: 12px;
}
.service-item i {
    display: block;
    width: 30px;
    height: 30px;
    margin: 4px auto 0;
    background-image: url(./img/icon.jpg);
    background-repeat: no-repeat;
}
.huafei {
    background-position: -6px 0 ;
}
.jipiao {
    background-position: -49px 0;
}
.jiudian {
    background-position: -94px 0;
}
.youxi {
    background-position: -134px 0;
}
.qiyegou {
    background-position: -6px -52px;
}
.jiayouka {
    background-position: -49px -52px;
}
.dianyingpiao {
    background-position: -94px -52px;
}
.huochepiao {
    background-position: -137px -52px;
}
.zhongchou {
    background-position: -6px -110px;
}
.licai {
    background-position: -49px -110px;
}
.lipinka {
    background-position: -94px -110px;
}
.baitiao {
    background-position: -134px -110px;
}
